@import url("font-awesome.min.css");
@import url("bootstrap.min.css");
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic");
@keyframes cf3FadeInOut {
  0% {
    opacity:1;
  }
  45% {
    opacity:1;
  }
  55% {
    opacity:0;
  }
  100% {
    opacity:0;
  }
}

body{
  font-weight: 300;
  color: #555;
  font-family: "Source Sans Pro",Helvetica,sans-serif;
}
section{
  display:block;
}
/*a:hover{
  color:#52C5C5;
}*/

a:link, a:visited{
  color:#f86942;
}

p{
  font-family: "Source Sans Pro",Helvetica,sans-serif;
  font-size: 17px;
  line-height: 25px;
  text-align: justify;
  font-weight: 400;
}

h1 {
  font-size: 44px;
  line-height: 56px;
  font-weight: 300;
}

h2 {
  font-size: 28px;
  line-height: 35px;
  font-weight: 400;
}

h3 {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 20px;
}

.navbar-nav {
    font-weight: 400;
}
#nav{
  -webkit-box-shadow: 0px 2px 3px 0px rgba(50, 50, 50, 0.5);
-moz-box-shadow:    0px 2px 3px 0px rgba(50, 50, 50, 0.5);
box-shadow:         0px 2px 3px 0px rgba(50, 50, 50, 0.5);
}

.bold{
  font-weight: 400;
}

.fa-facebook, .fa-twitter, .fa-instagram{
  color: #f86942;
  -webkit-transition: color 300ms ease;
  -moz-transition: color 300ms ease;
  -o-transition: color 300ms ease;
  -ms-transition: color 300ms ease;
  transition: color 200ms ease;
}

.fa-facebook:hover, .fa-twitter:hover, .fa-instagram:hover{
  color: #52C5C5;
  
}

.container{
/*width: 67%;*/
}
.col-centered{
  float: none;
  margin: 0 auto;
}
.navbar{
  /*background-image: linear-gradient(45deg, #4fa49a, #4361c2);*/
  margin-bottom:0;
}

.list-group-item{
  color: #fff;
  /* margin-top: 0.9em; */
  font-size: 14px;
  background-color: transparent;
  border-color: transparent;
}
.socialout{
  text-align:center;
  margin-bottom: 20px;
}
.social{
  display:inline-block;
  width: 400px;
}
#header, #uno, #dos, #footer{
  padding: 44px 0px 44px 0;
}
#header {
 /* background-attachment: fixed, fixed, fixed;*/
 /*background-color: #267871;*/
  /* background-image: url("img/overlay2.png"), url("img/overlay3.svg"), linear-gradient(to left, #267871 , #136a8a);
  background-image: url("img/overlay2.png"), url("img/overlay3.svg"), -webkit-linear-gradient(to left, #267871 , #136a8a); */
  background-image:url("../img/utp.jpg");
  background-position: center; 
  background-size: auto auto, cover, cover;
  color: rgba(255, 255, 255, 0.75);
  overflow: unset;
  padding: 180px 0;
  position: relative;
  text-align: center;
  color:white;
  font-size:22px;
  z-index:20;

}

#header .top {
  animation-name: cf3FadeInOut;
  background-image:url("../img/imagen3.jpg");
  background-repeat: none;
  position: absolute;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-direction: alternate;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -5
}
.corte{
  overflow: hidden;
}
#header .bottom {
  background-image: url("../img/utp.jpg");
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -15
}

#header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #57cecd;
  opacity: .85;
  z-index:-1;
}

#header .fh5co-arrow {
  position: absolute;
  bottom: -25px;
  left: 50%;
  margin-left: -30px;
  display: table;
  color: #ffffff;
  z-index: 99;
  text-decoration: none;
  width: 48px;
  height: 48px;
  background: #f86942;
  border-bottom: none !important;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
  -moz-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
  -ms-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
  -o-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
  box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
  -webkit-transition: background-color 300ms ease;
  -moz-transition: background-color 300ms ease;
  -o-transition: background-color 300ms ease;
  -ms-transition: background-color 300ms ease;
  transition: background-color 200ms ease;
}

#header .fh5co-arrow:hover{
  background-color: #F83F2C;
}
#footer .fh5co-arrow:hover  {
  background-color: #52C5C5;
}

#header .fa-chevron-down{
  padding-top: 11px;
  font-size: 24px;
}
#footer .fa-chevron-up {
    font-size: 24px;
    padding: 0 0 6px;
}

#footer .fh5co-arrow {
  position: absolute;
  top: -25px;
  left: 50%;
  margin-left: -30px;
  display: table;
  color: #ffffff !important;
  z-index: 99;
  text-decoration: none;
  width: 48px;
  height: 48px;
  background: #f86942;
  border-bottom: none !important;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
  -moz-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
  -ms-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
  -o-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
  box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
  -webkit-transition: background-color 300ms ease;
  -moz-transition: background-color 300ms ease;
  -o-transition: background-color 300ms ease;
  -ms-transition: background-color 300ms ease;
  transition: background-color 200ms ease;
}
#footer .fh5co-arrow i {
  display: table-cell;
  vertical-align: middle;
}

#uno .container{
  color:#555;
  padding-top: 30px;
  padding-bottom: 50px;
}

#dos{
  background-color: #29323c;
  background-image: linear-gradient(to left, #485563 , #29323c);
  background-image: -webkit-linear-gradient(to left, #485563 , #29323c);
  color:white;
}
#dos .container{
  color:white;
}
#dos img{
  width:65%;
}

#footer{
  background-color: #333;
  color:white;
  border-top:#555 3px solid;
  position:relative;
}
#footer  .row{
  overflow:hidden;
}

#footer  p{
  font-size:14px;
}

#footer  h2{
  font-size:26px;
  margin-top: 17px;
}
#footer .primertitulo{
  margin-top:0;
}
#footer .container{
  overflow:hidden;
}
#map{
  height:240px;
  color:#555;
}
#map h1{
  font-size:1.5em;
}
.animate-box, .hero-animate-1, .hero-animate-2, .hero-animate-3, .item-animate-1, .item-animate-2, .item-animate-3 {
  opacity: 0;
}
.fa-3{
  font-size:56px;
}

.fa-wifi::before {
  font-size: 9.2em;
}
.btn{
  border-color:#f86942;
  color:#f86942;
}
.btn:hover{
  border-color:#52C5C5;
  color:#52C5C5;
}
.col-md-4 {
  margin-bottom:1em;
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.5em;
    line-height: 1.35em;
  }
  .fa-wifi::before {
    font-size: 7.2em;
  }
  .social{
    width: 50%;
    margin: 0 auto;
  }
}

@media (max-width: 990px) {
  .col-md-4 {
    margin-bottom:15px;
  }
}

/* paginas */

#header.page{
  padding: 100px 0 35px 0;
}

#header.page .fa-wifi::before {
  font-size: 85px;
}

#header.page h1 {
  font-size: 35px;
  
}

ol {
  margin: 15px 0 15px 0;
}

ol li {
  font-size: 18px;
  font-weight: 400;
}

h3 .fa {
  margin-right: 10px;
}

p .fa {
  margin-right: 10px;
  padding-top: 10px;
}

.lista{
  padding-left: 30px;
}

.lista2{
  padding-left: 30px;
  margin-top: -10px;
}

#uno h3{
  margin: 30px 0 10px 0;
}

.fa-2::before {
  font-size: 85px;
}
